#nprogress .bar {
  height: 4px !important;
  background: #FFBB00 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}

#nprogress .spinner-icon {
  border-top-color: #FFBB00;
  border-left-color: #FFBB00;
}

#nprogress .spinner .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
  }